$primaryColor: #fffb00 !default; 
$backgroundColor: #f4f4f4 !default;
$sceneBackgroundColor: #f4f4f4 !default;
$secondaryBackgroundColor: #f4f4f4 !default;
$borderColor: #f4f4f4 !default;
$secondaryBorderColor: #f4f4f4 !default;
$positiveColor: #f4f4f4 !default;
$darkPositiveColor: #f4f4f4 !default;
$destructiveColor: #f4f4f4 !default;
$textColor: #f4f4f4 !default;
$secondaryTextColor: #f4f4f4 !default;
$noteColor: #f4f4f4 !default;
$textOverPositiveColor: #f4f4f4 !default;